@mixin flex($disp:flex,$dir:row,$just:center,$align:center){
    display: $disp;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}
@mixin center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@mixin button($color:white,$bgColor:#3DC1CD) {
    color: $color;
    background-color: $bgColor;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: Roboto-Bold;
    text-decoration: none;
}
@mixin buttonHover($bgColor, $color:white){
    background-color: $bgColor;
    color: $color;
    border: 2px solid black;
}
@mixin listNoStyle{
    list-style: none;
    text-decoration: none;
}
@mixin line($width,$margin:auto){
    height: 1px;
    width: $width;
    margin: $margin;
    background-color: rgba(255, 255, 255, 0.712);
}
